html{
  font-size: 10px;
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Helvetica Neue",Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}
/* landing page */
.wrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  margin: 0px;
  padding: 0px;
  background: rgba(0,0,0,0.5) url("landing.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  overflow: hidden;
  background-blend-mode: overlay;
  border-radius: 10px;
}

.wrap > *{
  margin: 20px;
  padding: 5px;
  font-family: 'Nova Round', cursive;
  font-size: large;
  color: white;
}
.our-product{
  padding: 0 100px;
  position: relative;
  font-family: 'Nova Round', cursive;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
}

/* Layout part */

.grid-container{
  display: grid; /* for a responsible website */
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
/* connecting the header, main and footer to the grid-template-areas */
header {
  grid-area: header;
  background-color: rgba(0,0,0,0.5); /* #2f2626 */
  border-radius: 10px;

}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: rgba(0,0,0,0.5); /* #2f2626 */
  color: white;
  border-radius: 10px;

}
/* making the header look better (name of the website on the left , Cart/signin on the right)*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* making the footer look better */
.row.centre{
  justify-content: center;
}
/* making the product screen look better */
.row.top{
  align-items: flex-start;
}
.oneline{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

}
.col-2 img{
  width: 60%;
  height: 40%;
}
.col-1{
  flex: 1 1 25rem;
}
.col-2{
  flex: 2 1 50rem;
}



/* making the links look better */
a{
  text-decoration: none;
  font-family: 'Nova Round', cursive;

}
a:hover{
  color: black;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}


button{
  --c: gray;
  color: var(--c);
  background-color: black;
  font-size: 10px;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: 10%;
  height: 10%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

button span{
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(100%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
button:hover{
  color: black;
}
button:hover span {
  transform: translateY(0) scale(2);
}

button span:nth-child(1) {
  --n: 1;
}

button span:nth-child(2) {
  --n: 2;
}

button span:nth-child(3) {
  --n: 3;
}

button span:nth-child(4) {
  --n: 4;
}
button.primary{
  background-color: #2f2626;
}
button.block{
  width: 100%;
}


/* header & footer links*/
header a{
  color: white;
  padding: 1rem;
  font-family: 'Nova Round', cursive;
}
footer a{
  color: white;
  padding: 1rem;
}
a.website-brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Nova Round', cursive;
}
a.website-brand:hover{
  color: black;
}
.badge{
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  font-size: 1.4rem;
  margin-left: 0.6rem;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;

}
button.small {
  width: 50%;
}
select{
  padding: 1rem;
  border-radius: 0.5rem;
}

/* making images look better */
img{
  height: 220px;
  width: 220px;
  margin: 10px;
  border-radius: 20px;
}
img.img-shoppingcart{
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

/* card */
.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: white;
  border-radius: 20px;
  margin: 1rem;

}
.card-item{
  border: 0.5rem #c0c0c0 solid;
  background-color: white;
  border-radius: 20px;
  margin: 2rem;
}

img.medium:hover{
  transform: translateY(20px);
}
img.medium:hover:before{
  opacity: 10;
}


.card-body{
  padding: 1rem;
}
.card-body > * {
  margin-bottom:  0.5rem;
}
.item-title, .item-qty, .item-price, .item-button-del{
  margin-top: 4rem;
  margin-right: 1rem;
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

/* price */
.price{
  font-size: 2rem;
}
/* rating */
.rating{
  color: gold;
  margin: 0.1rem;
}
.rating span:last-child{
  font-size: 12px;
  color: #2f2626;
}

/* Alert */
.loading{
  display: block !important;
}

.success {
  color: green;
}
.danger{
  color: red;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: blue;
  background-color: white;
}

.alert-danger{
  color: red;
  background-color: white;
}
.alert-success{
  color: green;
  background-color: white;
}

/* From */
.form{
  max-width: 60rem;
  margin: 2rem auto;
  border-radius: 20px;
  box-shadow: 0 5px 15px gray;
  border-top: 20px solid rgba(255,255,255,0.3) ;
  border-left: 20px solid rgba(255,255,255,0.3) ;
  border-bottom: 20px solid rgba(255,255,255,0.3) ;

  backdrop-filter: blur(5px);
  transform-style: preserve-3d ;
  font-size: 25px;
  background-color: rgba(200,200,200, 0.5);


}

.form label{
  margin: 2rem 0;
}
.form i{
  padding: 1px;
  margin: 2px;
  font-size: 20px;
}
.form input{

  outline: none;
  border: none;
  height: 40px;
  width: 82%;
  background-color: whitesmoke;
  color: black;
  box-shadow: 2px 2px 2px gray inset;
  border-radius: 10px;
  font-family: 'Arial', cursive;
  margin-top: 1rem;
  margin-bottom: 1rem;



}
.form button{

  width: 50%;
  height: 50%;
  transform: translateX(130px) translateY(3px);
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* dropdown */
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: gray;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content{
  display: block;
}

/* Checkout steps */
.checkout-steps > div {
  border-top: 0.1rem gray solid;
  border-bottom: 0.1rem gray solid;
  border-radius: 20px;
  color: black;
  background-color: gray;
  flex: 1;
  padding: 1rem;
  font-family: cursive;
}

.checkout-steps > div.active{
  border-top-color: black;
  border-bottom-color: black;
  border-radius: 20px;
  color: black;
  background-color: seagreen;
}

/* table */
.table{
  width: 100%;
  border-collapse: collapse;
  background-color: whitesmoke;

}
.table td, .table th{
  text-align: left;
  border: 0.1rem  solid gray;
  padding: 0.5rem;
}
.table button{
  margin: 0 0.2rem;
}

