html{
  font-size: 10px;
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Helvetica Neue",Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/* Layout part */

.grid-container{
  display: grid; /* for a responsible website */
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
/* connecting the header, main and footer to the grid-template-areas */
header {
  grid-area: header;
  background-color: #2f2626;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #2f2626;
  color: white;
}
/* making the header look better (name of the website on the left , Cart/signin on the right)*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* making the links look better */
a{
  text-decoration: none;
}
a:hover{
  color: gray;
}
header a{
  color: white;
  padding: 1rem;
}
footer a{
  color: white;
  padding: 1rem;
}
a.website-brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
/* making the footer look better */
.row.centre{
  justify-content: center;
}

/* making images look better */
img{
  height: 220px;
  width: 220px;
  margin: 10px;
  border-radius: 20px;
}

/* card */
.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: white;
  border-radius: 20px;
  margin: 1rem;

}

.card-body{
  padding: 1rem;
}
.card-body > * {
  margin-bottom:  0.5rem;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}
/* price */
.price{
  font-size: 2rem;
}
/* rating */
.rating{
  color: gold;
  margin: 0.1rem;
}
